.DS_Store
package-lock.json 
package.json
.env
*.pyc
/jg_flask/migrations/
/jg_flask/__pycache__/
/journey-genius-ui/openai-env/__pycache__/
/openai-env/__pycache__/
/journey-genius-data-scraping/
*.csv
venv
